<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let profile of profiles; let i = index'>
      <td>{{ i + 1 }}</td>
      <td>{{ profile.username }}</td>
      <td>{{ profile.name }}</td>
      <td>
        <img width="100px" height="100px" src="http://localhost:3030/{{profile.image}}">
      </td>
      <td>{{ profile.Date }}</td>
    </tr>
  </tbody>
</table>